In [1]:
import requests 
import pandas as pd

# Data Wrangling

In [4]:
df=pd.read_csv("dialect_dataset (1).csv")
df['id']=df['id'].astype('str')
df.head()

                    id dialect
0  1175358310087892992      IQ
1  1175416117793349632      IQ
2  1175450108898565888      IQ
3  1175471073770573824      IQ
4  1175496913145217024      IQ

In [5]:
len(df['id'].unique()) # number of unique ids

458197

I will use `458000` incremented by `1000` in the for loop.Then, the other `197` will be fetched individually.

In [6]:
def data_gathering():
  """
  This Function is used to gather the data from the API using the ids from
  the dialect dataset. 
  Output >>> it returns a dataframe that contains the msg id and text.
  """
  # empty df that has two coumns the id and text.
  dataset=pd.DataFrame({"id":[],"text":[]})
  url="https://recruitment.aimtechnologies.co/ai-tasks"

  for val in range(0,458000,1000):
    if (val+1000) <= 458000:
      dta=requests.post(url,json=df['id'][val:val+1000].tolist()).json()
    else:
      dta=requests.post(url,json=df['id'][458000:458197].tolist()).json()
    for key , value in dta.items():
      dataset=dataset.append({"id":key,"text":value},ignore_index=True)
  return dataset

In [7]:
dataset=data_gathering()

In [14]:
# to retrieve the other 197 ids
url="https://recruitment.aimtechnologies.co/ai-tasks"
dta=requests.post(url,json=df['id'][458000:458197].tolist()).json()
for key , value in dta.items():
    dataset=dataset.append({"id":key,"text":value},ignore_index=True)

In [19]:
dataset.head()

                    id                                               text
0  1175358310087892992   @Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1  1175416117793349632  @7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2  1175450108898565888                    @KanaanRema مبين من كلامه خليجي
3  1175471073770573824         @HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4  1175496913145217024                 @hmo2406 وين هل الغيبه  اخ محمد 🌸🌺

In [10]:
dataset_copy=dataset.copy()

In [15]:
len(dataset)

458197

In [16]:
# to inner join the retrieved dataset from tha API and the dialect data on the id column
new_dataset=df.merge(dataset, how='inner', on='id')

In [17]:
new_dataset.head()

,id,dialect,text
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2,1175450108898565888,IQ,@KanaanRema مبين من كلامه خليجي
3,1175471073770573824,IQ,@HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4,1175496913145217024,IQ,@hmo2406 وين هل الغيبه اخ محمد 🌸🌺

In [20]:
len(new_dataset['id'].unique())

458197

In [25]:
# to load the new dataset for futrue usage. 
new_dataset.to_csv('dataset.csv',index=False,encoding='UTF-16')